In [1]:
import pandas as pd
from kafka import KafkaProducer
import time
import json

In [3]:
df = pd.read_csv("stock_analysis2.csv")
print(df.shape)
df.head()

(104224, 10)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,unwanted
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006,6.596165e+06
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013,6.452109e+06
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987,6.514745e+06
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987,6.676539e+06
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013,6.796971e+06

In [8]:
producer = KafkaProducer(bootstrap_servers=['54.235.13.11:9092'], 
                         value_serializer=lambda x: json.dumps(x).encode('utf-8'))

In [13]:
producer.send('test_topic', value={'name':'Deeps'})

In [14]:
dict_record = df.sample(1).to_dict(orient='records')[0]
dict_record

{'Index': 'GDAXI',
 'Date': '2008-09-09',
 'Open': 6258.259766,
 'High': 6327.180176,
 'Low': 6199.109863,
 'Close': 6233.410156,
 'Adj Close': 6233.410156,
 'Volume': 177757700.0,
 'CloseUSD': 7604.76039032,
 'unwanted': 39010299.98427058}

In [15]:
while True:
    dict_record = df.sample(1).to_dict(orient='records')[0]
    producer.send('test_topic', value=dict_record)
    time.sleep(2)

KeyboardInterrupt:

In [16]:
producer.flush() # Delete all the old records.